@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 255 230 0; /* #FFE600 */
		--color-primary-foreground: 48 48 48;
		--color-secondary: 0 118 254; /* #0076FE */
		--color-secondary-foreground: 255 255 255;
	}

	.theme1 {
		--color-primary: 255 230 0; /* #FFE600 */
		--color-primary-foreground: 48 48 48;
		--color-secondary: 0 118 254; /* #0076FE */
		--color-secondary-foreground: 255 255 255;
	}

	.theme2 {
		--color-primary: 239 27 26;
		--color-primary-foreground: 255 255 255;
		--color-secondary: 62 62 62;
		--color-secondary-foreground: 255 255 255;
	}

	.theme3 {
		--color-primary: 0 201 110;
		--color-primary-foreground: 48 48 48;
		--color-secondary: 146 146 147;
		--color-secondary-foreground: 255 255 255;
	}

	.theme4 {
		--color-primary: 38 66 212;
		--color-primary-foreground: 255 255 255;
		--color-secondary: 223 35 35;
		--color-secondary-foreground: 255 255 255;
	}

	.theme5 {
		--color-primary: 134 0 203;
		--color-primary-foreground: 255 255 255;
		--color-secondary: 255 222 0;
		--color-secondary-foreground: 255 255 255;
	}

	h1 {
		@apply text-[50px] font-bold leading-[62px];
	}
	h2 {
		@apply text-[27px] font-bold leading-[33px];
	}
	h3 {
		@apply text-[15px] font-bold leading-[18px];
	}

	::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}

	::-webkit-scrollbar-track {
		background: rgb(243 243 243);
		border-radius: 3px;
	}
	::-webkit-scrollbar-thumb {
		background: rgb(var(--color-primary));
		border-radius: 3px;
	}
}
